

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #000000;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    width:100%;
    font-family: 'SUITE-Regular';
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;

}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
    display: inline-block;
    height: 38px;
    padding: 10px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.00);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.00);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 2px solid #ddd;
}
/*.form-control:focus {
    border-color: #bcefeb;
}*/
.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}
h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-family: 'SUITE-Regular';
    font-size: 5.143rem;
    line-height: 5.5rem;
    color:#fff;
    letter-spacing: .4rem;
}
h2 {
    font-family: 'SUITE-Regular';
    font-size:2.571rem;
    line-height: 3rem;
    text-transform: uppercase;

}
h3 {
    font-family: 'SUITE-Regular';
    font-size:1.714rem;
    line-height: 2.5rem; 
    color:#fff;
}
h4 {
    font-family: 'SUITE-Regular';
    font-size: 1.286rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
/*h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}*/
p {
    line-height: 2rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.textwhite {
    color: #fff;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    /*overflow: hidden;*/
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: 100%;
}
/*.map-overlay {
    background-color: rgba(255, 114, 0, 0.75);
    width: 100%;
    height:auto;
}
.video_overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: auto;
}*/

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background: #e74c3c;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.separator:after {
    position: absolute;
    left:5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-left: 20px;
}
.separator:before {
    position: absolute;
    right: 5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-right: 20px;
}
.separator2 {
    height: 4px;
    width:40px;
    margin: 10px 0px;
    background: #eeeeee;
    position: relative;
}

.separator3 {
    height: 2px;
    width: 40px;
    margin:20px auto;
    background: #888888;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #f38181;
}


.divider{
    height: 1px;
    background: #eee;
    width:100%;
    overflow: hidden;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size:0.8125rem;
    border-radius: 0px;
    margin-top: 20px;
    transition: .5s;
    border: 1px solid #e74c3c;
    font-family: 'SUITE-Regular';
    padding: 0.8rem 3rem;
    transition: all 0.6s;
    border-radius: 2px;

}
.btn:hover{
    box-shadow: 0px 2px 2px 1px rgba(221, 221, 221, 0.6);
    color:#fff;
}
.btn-default{
    background: transparent;
    border:1px solid #fff;
    padding: 1.125rem 3rem;
}
.btn-default:hover{
    background: #e74c3c;
    border:1px solid #e74c3c;
}
.btn-lg{
    background: #e74c3c;
    padding: 1.125rem 3rem;
}
.btn-md{
    background: #999999;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.m_t_10{
    margin-right:10px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-top-90 {
    padding-top: 6.429rem;
}
.padding-bottom-90 {
    padding-bottom: 6.429rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.p_l_r{
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #ddd;
}
input::-moz-placeholder {
    color: #ddd;
}
input::-ms-input-placeholder {
    color: #ddd;
}

/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

/* navbar section ----------------------------------------------------------------------------------- */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: rgba(0, 0, 0, 0.44); /*navbar color*/
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 75px;
}
.main_menu_bg{
    margin-top: 0px;
    background-color: transparent; /* here */
}
.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent; 
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#e74c3c;
    background: transparent;
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #e74c3c;
    padding-bottom: 22px;
    border-bottom: 1px solid #e74c3c;
    background: transparent;

}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-brand>img {
    max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;

}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px; 
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175); 
    box-shadow: 0 0px 0px 
}

/*.dropdown-menu .navbar-form .form-group input[type="text"]{
    background-color:rgba(34, 61, 97, 0.68);
    border: 1px solid #e74c3c;
    color:#e74c3c;
    width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #e74c3c;
    opacity: 1; 
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}*/

.scrooldown{
    position: absolute;
    left: 48.5%;
    bottom: -2%;
    width: 40px;
    height: 40px;
    line-height: 48px;
    background: #f4f5f9;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}
.scrooldown a i{
    font-size:1.5rem;
    color:#e74c3c;
}


.culmn{
    width:100%;
    overflow: hidden;
}
/*heading title all area*/
.head_title{
    margin-bottom:90px;
}
.head_title h3{
    color:#413d4b;
}
.head_title .subtitle{
    margin-top:30px;
}
/*home section*/
.home{
    background: url(../images/homebg1.jpg) no-repeat center center;
    background-size: cover;
}
.home_camping{
    background-image: url("../images/glamping1.jpg");
    background-size: cover;
}
.home_camping h1{
    color: white;
    text-shadow: 1.5px 1.5px darkgray;
}
.home_mem{
    background-image: url("../images/mem_logo.jpg");
    background-size: cover;
}
.home_mem h1{
    color: white;
    text-shadow: 1.5px 1.5px darkgray;
}
.home_tour{
    background-image: url("../images/tour1.jpg");
    background-size: cover;
}
.home_tour{
    color: white;
    text-shadow: 1.5px 1.5px darkgray;
}
.home_board{
    background-image: url("../images/board.jpg");
    background-size: cover;
}
.home_board h1{
    color: white;
    text-shadow: 1.5px 1.5px darkgray;
}
.home_skew_border{
    position: relative;
}
.home_skew_border:after{
    position: absolute;
    left:0;
    bottom:0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 86px solid #fff;
    border-right: 680px solid transparent;

}
.home_skew_border:before{
    position: absolute;
    right:0;
    bottom:0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 86px solid #fff;
    border-left: 680px solid transparent;
}
.main_home{
    padding-top: 250px;
    padding-bottom: 200px;
    display: block;
}


.main_home h1{
    color: #fff;
    margin-bottom:20px;
}
.main_home p{
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size:1.125rem;

}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    outline: none;
    background: #e74c3c;
}
.slick-arrow{
    background: #ddd;
    color:#000;
}
.main_home_slider i{
    width:40px;
    height: 40px;
    line-height: 40px;
    color: #e74c3c;;
}
.main_home_slider i.nextprevleft{
    width:40px;
    height: 40px;
    line-height: 40px;
    color:#000;
    background: #716a65;
    float: left;
    position: absolute;
    z-index: 999;
    top: 400px;
    font-size:1.5rem;
    transition: all 0.6s;
    left:-60px;
}
.main_home_slider i.nextprevright{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #716a65;
    float: right;
    position: absolute;
    z-index: 999;
    top: 400px;
    font-size:1.5rem;
    transition: all 0.6s;
    right: -50px;
}
.main_home_slider i.nextprevleft:hover{
    color:#fff;
    background: #e74c3c;
}
.main_home_slider i.nextprevright:hover{
    color: #fff;
        background: #e74c3c;
}

.input-area{
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.input-box{
    max-width: 584px;
    width: 100%;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    padding-right: 40px;
}
.search-button{
    position: absolute;
    padding-top: 4px;
    margin-left: 5px;
}
.cam_subtitle{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.flex_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*=================================================================
                        weather css
===================================================================*/

#weather_wrapper{
    width: 400px;
    margin: 100px auto;
    margin-bottom: -100px;
    margin-top: -1px;
}
.weatherCard{
    width: 400px;
    height: 200px;
    position: relative;
}
.currentTemp{
    width: 220px;
    height: 200px;
    background: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    left: 0;
}
.currentWeather{
    width: 180px;
    height: 200px;
    background: rgb(237, 237, 237);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.temp{
    font-size: 40px;
    text-align: center;
    display: block;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 20px 0 0;
}
.location{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    display: block;
}
.conditions{
    font-family: SUITE-Regular;
    font-size: 80px;
    display: block;
    padding: 20px 0 0;
    text-align: center;
}
.info{
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(42, 178, 234);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}
.rain {
    width: 50%;
    position: absolute;
    left: 10px;
    word-spacing: 60px;
    top: 3px;
}
.rain::before{
    display: block;
    content: '\f04e';
    font-family: SUITE-Regular;
    font-size: 40px;
    left: 6px;
    top: -4px;
    position: absolute;
}
.wind {
    width: 50%;
    right: -10px;
    position: absolute;
    word-spacing: 60px;
    top: 3px;
}
.wind::before{
    display: block;
    content: '\f050';
    font-family: SUITE-Regular;
    font-size: 25px;
    left: -10px;
    position: absolute;
    top: 5px;
}
/*===================================================================*/
.forecast-day {
    margin: 15px;
    text-align: center;
}
.forecast-day img{
    margin: auto;
}
.forecast-day span{
    color: white;
    font-size: 20px;
}
.forecast-day p{
    font-size: 40px;
    margin-left: 5px;
    padding: 0px;
    margin-right: 0px;
}
/*=================================================================

/*=================================================================
                        index tour section
===================================================================*/
.box-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index_tour img{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-bottom: 30px;
    border-radius: 70%;
    overflow: hidden;
}
.index_tour img:hover{
    border: #e74c3c 5px solid;
}
/*=================================================================
                        list section
===================================================================*/
.list img{
    display: inline-block;
    width: 275px;
    height: 200px;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
    object-fit: fill;
}
.list a:link{
    color: black;
}
.list a:visited{
    color: black;
}
.list a:hover{
    color: #e74c3c;
}

/*=================================================================
                        info section
===================================================================*/
.cam_info{
    margin-top: 50px;
}
.cam_info table{
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 16px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    border-collapse: collapse;
}
.cam_info th{
    width: 100px;
    padding-left: 5px;
    padding-right: 10px;
}
.cam_info tr{
    border-bottom: black 1px solid;
}
.cam_info tr:last-child{
    border-bottom: none;
}
.cam_info hr{
    background: #575757;
    height: 0.3px;
    border: 0px;
}
.cam_list_title {
    margin-top: 50px;
    color: #e74c3c;
    font-size: 25px;
    margin-bottom: 30px;
}

/*=================================================================
                        board section
===================================================================*/


/*=================================================================
                        tour section
===================================================================*/
.tourbutton.h1 {
    text-align: center;
    color: #333;
}

.tourbutton.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tourbutton > input[type="button"] {
    background-color: white;
    border: none;
    color: #e74c3c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 0.3px solid #e74c3c;
}

.tourbutton > input[type="button"]:hover {
    background-color: #e74c3c;
    color: white;
}
/*=================================================================
                        info.jsp mouse over section
===================================================================*/
.resveMouseover {
    display: inline-block;
    padding: 15px 45px;
    background-color: #e74c3c;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
  }

.resveMouseover:hover {
    background-color : white;
    color: #e74c3c;
    border: #e74c3c 2px solid;
  }

/*=================================================================
                        board detail section
===================================================================*/
.detail-section {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}
.detail-section h3 {
    margin-top: 0;
}
.detail-section img {
    width: 200px;
    height: 200px;
}
.comment {
    margin-bottom: 10px;
}
.comment .writer {
    font-weight: bold;
}
.comment .date {
    color: #888;
}
.comment form {
    margin-top: 10px;
}
.detail-title h3,h2{
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}
.detail-image img{
    border: 1px solid black;
}

/*=================================================================
                        footer section
===================================================================*/
.footer{
    background: #000000;
}
.main_footer{
    overflow: hidden;
    padding: 20px 0px;
}

.main_footer .flowus a i{
    color:#fff;
    font-size:1rem;
    padding: 5px;
    border-radius: 0;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 18px;
    margin-top:10px;
}
.main_footer .flowus a i:hover{
    color:#e74c3c;
}

.copyright_text{
    text-align: right;
}
.copyright_text p{
    color:#fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#e74c3c;
}

/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #e74c3c;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}








